<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Home - Esther</title>
</head>

<body>
<section>
    <h1 th:if="${#authorization.expression('isAuthenticated()')}">
        Bem-vinda(o), <span th:text="${#authentication.name}">usuário</span>!
    </h1>

    <p th:unless="${#authorization.expression('isAuthenticated()')}">
        Explore the blog, projects, guestbook, and other sections.
    </p>
</section>
</body>

</html>